
/* Your CSS Code here. */
.holder {
    display: grid;
    grid-template-columns: repeat(2 , 100px);
    grid-template-rows: repeat(2 , 100px);
}

.item1 {
    background: red;
}

.item2 {
    background: green;
}

.item3 {
    background: greenyellow;
}

.item4 {
    background: skyblue;
}